<launch>
  <arg name="rqt" default="true"/>
  <arg name="sonar" default="true"/>

  <!-- model: M750d / M1200d -->
  <arg name="model" default="M750d"/>

  <!-- Start the sonar reading -->
  <node if="$(arg sonar)" name="sonar_oculus_node_$(arg model)" pkg="sonar_oculus" type="sonar_oculus_node" output="screen">
    <param name="model" value="$(arg model)"/>
    <param name="frame" type="string" value="/$(arg model)"/>
  </node>

  <!-- Open Oculus viewer -->
  <node name="sonar_oculus_viewer_$(arg model)" pkg="sonar_oculus" type="oculus_viewer.py" output="screen">
    <param name="topic" value="/sonar_oculus_node/$(arg model)/ping"/>
  </node>
</launch>
